/*this is for the slideshow on the home page. I've put it in a separate 
script so not all the pages have to load unused code.*/

.slideshowContainer {
    position: relative; /* Necessary for stacking slides */
    max-width: 100%;
    aspect-ratio: 20/9;
    margin-bottom: 20px;
}

.Slide {
    position: absolute; /* Stack slides on top of each other */
    width: 100%;
    opacity: 0; /* Initially hide all slides */
    transition: opacity 1.5s ease-in-out; /* Smooth fade transition */
}

.Slide.active {
    opacity: 1; /* Only show the active slide */
    z-index: 1; /* Ensure active slide is on top */
}